<div class="topnav">
    <a class="left"  href="/">Home</a>
    <a href="/projects">Our Work</a>
    <a href="#process">The Process</a>
    <a href="#about">About</a>
    <a class="right" href="#contact">Contact</a>
  </div>