body {
    background-color: rgb(0, 0, 0);
}

@font-face {
    font-family: 'lemonMilk';
    src: url('../fonts/lemonMilk/lemonmilk-light-webfont.woff') format('woff'),
         url('../fonts/lemonMilk/lemonmilk-light-webfont.woff2') format('woff2')
}

.navbar

.posterSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.whiteText {
    color: white
}

.posterContainer {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 3% 6%;  
    column-gap: 5%;
    font-size: 300%;
    font-family:helvetica;
}

.poster {
    flex-basis: 22%;
    max-width: 22%;
    transition: transform 0.4s ease-out;
}

.poster:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}

.break {
    flex-basis:100%;
    height: 0;
}

.footer {
    display: flex;
    color: white;
    justify-content: center;
}

.titleHome h1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: verdana;
    margin-top: 5%;
}

.introText {
    display: flex;
    justify-content: center;
    text-align: center; 
    font-size: 40%;
    font-family:verdana;
}

br
{
    content: " " !important;
    display: block !important;
    margin: 2%;
}

hr {
    color: white;
    margin-left: 6%;
    margin-right: 6%;
    height: 2px;
    background-color: #ffffff; /* Set the background color to red */
    border: none;
}

/*The process Page*/


.processes {
  display: flex; 
  align-items:center;
  justify-content: center;
  column-gap: 5%;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 250%;
  font-family:helvetica;
}

.processImage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .processImage4 {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .bwphotos4 {
    width: 35%;
    filter: grayscale(100%) contrast(115%);
    margin: 3%;  
    border-radius: 30px;
  }

.processText {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-shrink: 2;
}
  
  .bwphotos {
    width: 50%;
    filter: grayscale(100%) contrast(115%);
    margin-bottom: 10%;  
    border-radius: 30px;
  }
/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    overflow: hidden;
    font-family: verdana;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2% 5%;
    text-decoration: none;
    font-size: 90%;
    transition: background-color 0.4s;
  }
  
  /* Change the color of links on hover */
  .topnav a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  .topnav a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color:rgb(0, 0, 0);
  }

  .topnav a.left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .topnav a.right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  