body {
    background-color:#f0f0f0;
}

@font-face {
  font-family: 'Magic Hat';
  src: url('../fonts/Magic Hat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.Logo {
  font-family: 'Magic Hat';
  color: rgb(24, 24, 24);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 2;
  font-size: 15px;
}

  