@font-face {
    font-family: 'MagicHat';
    src: local('MagicHat'), 
            url('../../assets/fonts/MagicHat.ttf') format('truetype'),
            url('../../assets/fonts/MagicHat.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


header {
    font-family: 'MagicHat';    
    display: flex;
    font-size: 150%;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}
