@font-face {
    font-family: 'Magic Hat';
    src: url('../../assets/fonts/MagicHat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: 'Magic Hat', sans-serif;
    display: flex;
    font-size: 150%;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}
