<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>Merlin Productions</title>
</head>
    <body>
       <div class="posterSection">
            <div class="posterContainer">
                <img class="poster" src="/images/AnthoPoster.png">
                <div class="whiteText">
                    <h1>Antho</h1>
                    <p>Another productive way to use this tool to begin a daily writing routine. One way is to generate a random paragraph with the intention to try to rewrite it while still keeping the original meaning. The purpose here is to just get the writing started so that when the writer goes onto their day's writing projects, words are already flowing from their fingers.</p>
                </div>
            </div>
            <div class="break"></div>
            <div class="posterContainer">
                <div class="whiteText">
                    <h1>Antho</h1>
                    <p>Another productive way to use this tool to begin a daily writing routine. One way is to generate a random paragraph with the intention to try to rewrite it while still keeping the original meaning. The purpose here is to just get the writing started so that when the writer goes onto their day's writing projects, words are already flowing from their fingers.</p>
                </div>
                <img class="poster" src="/images/EsperanzaPoster.png">
            </div>
            <div class="break"></div>
            <div class="posterContainer">
                <img class="poster" src="/images/OTB3Poster.png">
                <div class="whiteText">
                    <h1>Antho</h1>
                    <p>Another productive way to use this tool to begin a daily writing routine. One way is to generate a random paragraph with the intention to try to rewrite it while still keeping the original meaning. The purpose here is to just get the writing started so that when the writer goes onto their day's writing projects, words are already flowing from their fingers.</p>
                </div>
            </div>
            
            <div class="break"></div>
            <div class="posterContainer">
                <div class="whiteText">
                    <h1>Antho</h1>
                    <p>Another productive way to use this tool to begin a daily writing routine. One way is to generate a random paragraph with the intention to try to rewrite it while still keeping the original meaning. The purpose here is to just get the writing started so that when the writer goes onto their day's writing projects, words are already flowing from their fingers.</p>
                </div>
                <img class="poster" src="/images/OTB2Poster.jpg">
            </div>
        </div>
    </body>
</html>