<%- include ('../partials/header.ejs') %>
<%- include ('../partials/nav.ejs') %>
        <div class="titleHome">
           <h1>
            Merlin Productions
           </h1>
        </div>
        <hr> 
        <div class="homePhotos">
            <img class="bwphotos" src="/images/ethan.jpg">
            <img class="bwphotos" src="/images/roman.jpg">
            <img class="bwphotos" src="/images/nicole.jpg">
            <img class="bwphotos" src="/images/roark.jpg">
            <img class="bwphotos" src="/images/josie.jpg">
            <img class="bwphotos" src="/images/kyle.jpg">
            <img class="bwphotos" src="/images/zach.jpg">
        </div>
        <div class="introText">
            <div class="whiteText">
                <h1>
                Founded in 2020, Merlin Productions consists of a team of passionate filmmakings, writers, and musicians. <br> 
                With each creative step, from script to screen, we can help acheive your vision from corporate, ad, promotional, or more. <br> 
                Whethers it's just some color or sound, to full fledged productions, we can transform your ideas into captivating visual stories.  <br> 
                With our combined expertise and diverse skill sets, we can handle every aspect of the filmmaking process. We look forward to meeting you. <br>  
                </h1>
            </div>
        </div>
        <hr> 
<%- include ('../partials/footer.ejs') %>